@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 1.4em;
    font-weight: 600;
}

main .introduction {
    display: flex;
    flex-direction: column;
    padding:  0 20px;
    height: calc(100vh - 87px);
}

.introduction h1 {
    font-size: 3.5em;
    color: rgb(61, 1, 113);
    margin-bottom: 20px;
}

.introduction > p {
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.start {
    background-color: rgb(61, 1, 113);
    border: none;
    border-radius: 7px;
    padding: 20px;
    color: #fff;
    width: 50%;
    font-size: 1.1em;
    font-weight: 500;
}

.btns .view {
    border: none;
    background-color: #fff;
    font-size: 1.2em;
    width: 50%;
    font-weight: 600;
    color: #666;
    cursor: pointer;

    transition: color .2s;
}

.view:hover {
    color: rgb(61, 1, 113);
}

.privacy-msg {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.privacy-msg p {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}

.privacy-msg a {
    color: rgb(61, 1, 113);
    margin-left: 26px;
    font-weight: 600;
    font-size: 1.1em;
}

.image {
    height: 80vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgb(0, 183, 255);
}

.image img {
    max-height: 100%;
}

.marketing {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    width: 100%;
}

.marketing h2 {
    font-size: 3em;
    color: rgb(61, 1, 113);
    margin-bottom: 20px;
}

.users {
    width: 100%;
}

.users img {
    width: 60px;
    margin-top: 20px;
}

img + img {
    margin-right: 5px;
}

.marketing p {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500;
}

.description {
    width: 100%;
    background-color: rgba(0, 183, 255, 0.492);
}

.description-content {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.description-content h3 {
    color: rgb(0, 89, 206);
    margin-bottom: 10px;
}

.description-content h2 {
    font-size: 3em;
    color: rgb(61, 1, 113);
    margin-bottom: 20px;
}

.description-content p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500;
}

.description-content .start {
    margin-top: 20px;
    margin-bottom: 60px;
}

.description-content a {
    display: flex;
    gap: 5px;
    color: rgb(61, 1, 113);
    font-weight: 800;
    margin: 20px 0;
    font-size: 1.2em;
    text-decoration: none;
}

.description-content a i {
    font-size: 1.5em;
}